miikosam@gmail.com
gayatriputsa@gmail.com 
kunchelakshminarayana@gmail.com
siri.labala@gmail.com
sweetsuri12@gmail.com
krishnamohan138@gmail.com
dsatya_p13@yahoo.com
mahendertheking@gmail.com
p.r.pattabhi@facebook.com
pamarty2008@gmail.com
babukoilada777@gmail.com
sandeep@nexusvp.com
pratik@nexusvp.com
somak.ghosh@contrariancapindia.com
aditi.gupta@contrariancapindia.com
govind.lohia@contrariancapindia.com
amit.banka@equitycrest.com
deepak@wehventures.com
abhishek@tlabs.in
shalini@tlabs.in
atul@ecity.esselgroup.com
gauravmathur19@gmail.com
acwadhwa@gmail.com
