దేశమంటే మట్టికాదోయ్..దేశమంటే మనుషులోయ్ ## గురజాడ
దేశభాషలందు తెలుగు లెస్స ## శ్రీకృష్ణదేవరాయలు
నా అక్షరాలు వెన్నెలలో ఆడుకునే అందమైన ఆడపిల్లలు ## తిలక్
చిరిగిన చొక్కా అయినా తొడుక్కో..కాని ఒక మంచి పుస్తకం కొనుక్కో ## కందుకూరి
ఒక్క సిరాచుక్క లక్షల మెదళ్లకు కదలిక ## కాళోజీ
నేనింతా ఒక పిడికెడు మట్టే కావచ్చు.. కానీ కలమెత్తితే నాకు ఒక దేశపు జెండాకున్నంత పొగరుంది ## శేషేంద్ర
కుక్కపిల్లా,అగ్గిపుల్లా,సబ్బుబిళ్లా… కాదేదీ కవితకనర్హం ## శ్రీశ్రీ
ప్రపంచం ఒక పద్మవ్యూహం..కవిత్వం ఒక తీరని దాహం ## శ్రీశ్రీ
దేశమును ప్రేమించుమన్నా.. మంచి యన్నది పెంచుమన్నా ## గురజాడ
వడగాల్పు నా జీవితమైతే.. వెన్నెల నా కవిత్వం ## జాషువ
అబద్ధాలాడడమంత సులభం కాదు సుమా! కవిత అల్లడం ## దాశరథి కృష్ణమాచార్య
ఆధునిక కవిత్వం అర్థం కాలేదంటే,ఆధునిక జీవితం అర్థం కాలేదన్నమాటే" ## శ్రీశ్రీ
కవి గూడా నేత గాడె..బహు చక్కని సాలెగూడు అల్లువాడే " ## కాళోజీ
100 సినిమాలకు రచన చేయడం కన్నా ఒక కథ రాయడం కష్టం ## జనార్థన మహర్షి
కథ రాయడానికి మనిషి మానసికంగా బాధ పడాలి,అనుభూతి చెందాలి.అప్పుడే ఉత్తమకథ అంగవైకల్యం లేని శిశువులా బయటకు వస్తుంది ## పెద్దిభొట్ల సుబ్బరామయ్య
సూర్యుడికీ కాంతికీ వున్న సంబంధమే,రచయితకి కళకీ వుంటుంది ## చలం
మొదటి కథ రాసినప్పుడు.. మొదటి బిడ్డని కని ఆశ్చర్యంతో తానేనా యీ కొత్త మనిషిని కల్పించింది అని చూసే తల్లివలే వుంటుంది మనసు" ## చలం
