$th_nor_background: #FFF;
$th_nor_color: #333;

$th_ngt_background: #333;
$th_ngt_color: #FFF;

$th_sep_background: #F4ECD8;
$th_sep_color: #181715;

.th-nor-config {
	background-color: $th_nor_background !important;
	color: $th_nor_color !important;
}
.th-ngt-config {
	background-color: $th_ngt_background !important;
    color: $th_ngt_color !important;
}
.th-sep-config {
	background-color: $th_sep_background !important;
	color: $th_sep_color !important;
}

.pratilipi-reader.th-nor {
	background-color: $th_nor_background !important;
	.pratilipi-reader-header, .pratilipi-reader-navigation, .content, .content *, .content > *, .pratilipi-reader-footer {
		background-color: $th_nor_background !important;
		color: $th_nor_color !important;
	}
}

.pratilipi-reader.th-ngt {
	background-color: $th_ngt_background !important;
	.pratilipi-reader-header, .pratilipi-reader-navigation, .content, .content *, .content > *, .pratilipi-reader-footer {
        background-color: $th_ngt_background !important;
        color: $th_ngt_color !important;
    }
}

.pratilipi-reader.th-sep {
	background-color: $th_sep_background !important;
	.pratilipi-reader-header, .pratilipi-reader-navigation, .content, .content *, .content > *, .pratilipi-reader-footer {
        background-color: $th_sep_background !important;
		color: $th_sep_color !important;
	}
}
