.pratilipi-reader-footer {
	padding: 8px 0;
	align-items: center;
    @include css-prefix( "display", "flex" );
    @include css-prefix( "flex-direction", "row" );
    @include css-prefix( "box-sizing", "border-box" );
    @include css-prefix( "flex-shrink", "0" );
	border-top: 1px solid lightgrey;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	.menu-option-holder {
		flex-grow: 1;
		@include css-prefix( "display", "flex" );
		@include css-prefix( "flex-direction", "row" );
		.menu-option {
			flex: 1;
			text-align: center;
		}
	}
}