ul.pratilipi-recommendation-carousel {
	display: inline-block;
	position: relative;
	left: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	background: white;

	@media only screen and (max-width: 768px) {
		white-space: nowrap;
		li {
			max-width: 120px;
		}
	}
	li {
		list-style: none;
		display: inline-block;
		min-width: 100px;
		position: relative;
	}
}