.pratilipi-blog-page {
	.blog-post-container {
		border-top: 1px solid lightgrey;
		width: 100%;
		margin-top: -1px;

		.blog-post-snippet {
			margin: 16px;
			.blog-post-title {
				margin-bottom: 4px;
			}
			.blog-post-content {
				color: initial;
				@include css-prefix('overflow', 'hidden');
			}
			.see-more {
				color: initial;
				color: rgba( 0,0,0,0.8 );
			}
		}

	}
}