.loading-state-reader {
	.pratilipi-loading-state {
		background: transparent;
		border: none;
	}
}

.failed-state-reader {
	background: transparent;
	@include css-prefix( "display", "flex" );
	@include css-prefix( "flex-direction", "column" );
	@include css-prefix( "flex-wrap", "nowrap" );
	@include css-prefix( "justify-content", "center" );
	height: 100vh;
	width: 100%;
	text-align: center;
}

.pratilipi-reader {
	$header_height: 52;
	$progress_bar_height: 2;
	width: 100%;
	min-height: 100vh;
	@include css-prefix( "display", "flex" );
	@include css-prefix( "flex-direction", "column" );
	@include css-prefix( "flex-wrap", "nowrap" );
	@include css-prefix( "justify-content", "start" );
	@include css-prefix( "box-sizing", "border-box" );
	@include css-prefix( "flex-shrink", "0" );

	.pratilipi-reader-header {
		position: fixed;
		flex-grow: 1;
		top: 0;
		right: 0;
		left: 0;
		height: $header_height+px;
		z-index: 2;
	}
	.mdl-progress {
		position: fixed;
		width: 100%;
		top: 52px;
		height: $progress_bar_height+px;
		z-index: 1;

	}
	.mdl-progress > .bufferbar {
		background: lightgrey;
	}

	main {
		//max-width: 1200px;
		//width: 100%;
		//margin-left: auto;
		//margin-right: auto;
		padding-top: $header_height+$progress_bar_height+px; // header
		@media only screen and (max-width: 767px) {
			.pratilipi-reader-content {
				margin-bottom: $header_height+px;
			}
        }
		@include css-prefix( "flex-grow", "1" );
		@include css-prefix( "display", "flex" );
		@include css-prefix( "flex-direction", "row" );
		@include css-prefix( "flex-wrap", "nowrap" );
		@include css-prefix( "justify-content", "start" );
		@include css-prefix( "box-sizing", "border-box" );
		@include css-prefix( "flex-shrink", "0" );
		.body-layout-row {
			@include css-prefix( "flex-grow", "1" );
			height: calc(100vh - #{$header_height+$progress_bar_height+px});
			overflow: hidden;
			.body-layout-nav, .body-layout-content {
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;
			}
			.body-layout-nav {
				flex-basis: 20%;
				border: none;
				border-right: 1px solid lightgrey;
				background: transparent;
			}
			.pratilipi-reader-content {
				width: 100%;
				padding: 8px 16px;
				box-sizing: border-box;
			}
			.right-pane {
				flex-basis: 20%;
				max-width: 200px;
			}
		}
	}
	.pratilipi-reader-footer {
		@media only screen and (min-width: 768px) {
			display: none;
			visibility: hidden;
		}
		height: $header_height+px;
		position: fixed;
		bottom: 0;
		z-index: 1;
		width: 100%;
	}
}

.modal { // All modals in reader
	text-align: center;
	padding: 0!important;
	.modal-dialog {
        padding: 0;
        max-height: 100vh;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        padding-top: 100px;
        @media only screen and (max-width: 767px) {
            padding-top: 0;
            display: flex;
            flex-direction: row;
            height: 100vh;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        .modal-content {
            min-width: 300px;
            box-sizing: border-box;
        }
    }
}

.modal.settings-modal {
	.lh-icon {
		height: 24px;
        width: 24px;
        display: block;
        margin: auto;
        background-color: transparent;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.lh-icon-inactive {
		opacity: 0.5;
	}
	.lh-sm-icon {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjMgMy4zaDEydjJoLTEyek0xMC4zIDE5LjNoMTJ2MmgtMTJ6TTEwLjMgMTEuM2gxMnYyaC0xMnpNMTAuMyAxNS4zaDEydjJoLTEyek0xMC4zIDcuM2gxMnYyaC0xMnpNNC4zIDguM0gxLjhsMy41IDMuNSAzLjUtMy41SDYuM3YtNWgtMk0xLjggMTYuNGwzLjUtMy41IDMuNSAzLjVINi4zdjVoLTJ2LTUiLz48L3N2Zz4=);
	}
	.lh-md-icon {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTMuNCAzLjRoMTcuM3YySDMuNHpNMy40IDE5LjRoMTcuM3YySDMuNHpNMy40IDE0aDE3LjN2MkgzLjR6TTMuNCA4LjdoMTcuM3YySDMuNHoiLz48L3N2Zz4=);
    }
    .lh-lg-icon {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTkuOSAzLjNoMTJ2MmgtMTJ6TTkuOSAxOS4zaDEydjJoLTEyek05LjkgMTEuM2gxMnYyaC0xMnpNMy45IDYuOEgxLjRsMy41LTMuNSAzLjUgMy41SDUuOXY1aC0yTTEuNCAxNy45bDMuNSAzLjUgMy41LTMuNUg1Ljl2LTVoLTJ2NSIvPjwvc3ZnPg==);
    }

	.modal-dialog {
		.modal-content {
			@include css-prefix( "display", "flex" );
			@include css-prefix( "flex-direction", "row" );
			.modal-header {
				border: none;
				padding: 8px;
				position: absolute;
				right: 0;
			}
			.modal-body {
				padding: 8px 20px;
				align-self: center;
				margin-top: 32px;
			}
		}
	}
	.option {
		margin-bottom: 12px;
		.option-heading {
			font-weight: 500;
		}
	}
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
